node_modules
.next
out
build
.DS_Store
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local
coverage
package-lock.json

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
